* {
    margin: 0;
    padding: 0;
    font-family: 'Mingzat', sans-serif;
    line-height: 1;
}

:root {
    --icon-size: 20px;
}


.wrapper {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 2fr 7fr;
    height: 100vh;
}
.sidebar {
    display: grid;
    background-color: #1992D4;
    grid-column: 1 / 2;
    color: white;
    grid-row: 1 / 3;
    grid-template-rows: 2fr repeat(10, 1fr) 5fr;
    padding-left: 50px;
}

.sidebar,
.header {
    padding-top: 20px;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    padding-left: 30px;
    row-gap: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
    /* grid-template-rows: 1fr 1fr; */
    
}

.top-row {
    display: grid;
    grid-template-columns: auto 1fr 30px auto auto auto;
    gap: 20px;
    align-items: center;
}

.search-bar {
    background-color: #E2E8F0;
    border: none;
    border-radius: 15px;
}
.bottom-row {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr 1fr 1fr;
    gap: 20px;
}

.bottom-row button {
    background-color: #1992D4;
    color: white;
    border: none;
    border-radius: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.bottom-row {

    align-items: center;
}

.main {
    background-color: #E2E8F0;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 20px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.left {
    padding-left: 20px;
}
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 25px;
}

.card-container > div,
.announcements-card,
.trending-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 3px 8px #a1a1a1;
    padding-left: 20px;
    padding-top: 30px;
}
.card-container > div {
    height: 170px;
    border-left: solid 10px #F0B429;
}

.card-text,
.announcement-text,
.user-description {
    color: #666666;
}

hr {
    border: solid 1px #dbdbdb;
}

.announcement-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.announcements-container  {
    justify-self: start;
}

.announcements-card {
    padding: 30px 30px 30px 30px;
}

.trending-users,
.dashboard,
.dashboard-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.icon-button {
    background-color: transparent;
    border: none;
}

.bell-icon {
    font-size: var(--icon-size);
}

.dashboard,
.card-title,
.announcement-title,
.dashboard-item p,
.bottom-row button,
.bottom-row p,
.user-name,
.left > p,
.announcements-container > p,
.trending-container > p {
    font-weight: 800;
}

.right {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* justify-items: end; */
}

.dashboard {
    font-size: 20px;
}

.bottom-row > div > .user-name {
    font-size: 18px;
}

.bottom-row div p:first-child,
.announcement-title,
.announcement-text {
    font-size: 12px;
}

.left > p,
.announcements-container> p,
.trending-card,
.trending-container >p {
    padding-bottom: 15px;
}

.trending-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}
.trending-users {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.trending-container {
    /* display: grid; */
    justify-items: end;
    align-self: end;
}

.trending-card p {
    font-size: 12px;
}

.favourite-button,
.eye-button,
.share-button {
    background-repeat: no-repeat;
    height: 16px;
}

.card {
    position: relative;
    height: 100%;
}
.card-buttons {
    position: absolute;
    height: 15%;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    right: 0;
    bottom: 0;
    padding-bottom: 10px;
}

.card > p {
    padding-right: 25px;
}


.favourite-button {
    background-image: url(star-plus-outline.svg);
}

.eye-button {
    background-image: url(eye-plus-outline.svg);
}

.share-button {
    background-image: url(source-branch.svg);
}

.top-row img,
.trending-users img {
    height: 50px;
}

.bottom-row img {
    height: 70px;
}
